* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #fff;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.navbar nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  padding: 60px;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
}

.subtitle {
  margin: 20px 0;
  color: #666;
  max-width: 500px;
  font-weight: 400;
  font-size: 17px;
}

.students {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.students .count {
  font-size: 28px;
  font-weight: bold;
}

/* BUTTONS */
.actions {
  margin-top: 30px;
}

.primary-btn {
  background: #2f5d50;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.play-btn {
  background: transparent;
  border: none;
  color: #ff8c42;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT GRID */
.hero-right {
  width: 45%;
  display: flex;
  justify-content: center;
}

.avatar-grid {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 33px;
}

.avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 20px;
}

.semiRoundLeft {
  border-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.semiRoundRight {
  border-radius: 124px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



/* STATS */
.stats {
  background: #FF9257;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  color: #fff;
}

.stat h2 {
  font-size: 56px;
  font-weight: 600;
}

.stat p {
  margin-top: 6px;
}